<% if (messages.success) { %>
  <div class="flash flash-success"><%= messages.success %></div>
<% } %>

<h1>Permobil SmartDrive Syspro Lookup</h1>
<div class="form">
<a href="/check_rma" class="btn link">Check RMA Status</a>
<a href="/check_order" class="btn link">Check Order Status</a>
<a href="/search" class="btn link">Lookup Customer Info</a>
</div>
